<div class="product-form mt-2 mb-2">
    <div class="mb-2">
        <h3>Edytuj produkt</h3>
    </div>

    <ng-container *ngIf="isLoading === true; then loading else showProduct"></ng-container>

    <ng-template #loading>
        <div class="mt-2 mb-2" *ngIf="error">
            <div class="alert alert-danger">
                {{ error$ | async }}
            </div>
        </div>
    </ng-template>

    <ng-template #showProduct>
        <ng-container *ngIf="product;then productFound else productNotFound"></ng-container>
    </ng-template>

    <ng-template #productFound>
        <div class="mt-2 mb-2" *ngIf="error$ | async">
            <div class="alert alert-danger">
                {{ error$ | async }}
            </div>
        </div>
        <app-product-form 
            [product]="product" 
            [buttonNames]="['Zatwierdź', 'Anuluj']"
            [categories]="categories"
            (productChanged)="onProductChange($event)" 
            (onSubmit)="onSubmit()" 
            (onCancel)="onCancel()"></app-product-form>
    </ng-template>
    <ng-template #productNotFound>
        <div class="alert alert-danger">
            <h5>
                Produkt nie został znaleziony
            </h5>
        </div>
    </ng-template>
</div>
