<div class="product-form mt-2 mb-2">
  <div class="mb-2">
    <h3>Edytuj produkt</h3>
  </div>

  @if (isLoading === true) {
    @if (error) {
      <div class="mt-2 mb-2">
        <div class="alert alert-danger">
          {{ error }}
        </div>
      </div>
    }
  } @else {
    @if ((product$ | async)) {
      @if (error$ | async) {
        <div class="mt-2 mb-2">
          <div class="alert alert-danger">
            {{ error$ | async }}
          </div>
        </div>
      }
      <app-product-form
        [product]="(product$ | async)"
        [buttonNames]="['Zatwierdź', 'Anuluj']"
        [categories]="(categories$ | async) ?? []"
        (productChanged)="onProductChange($event)"
        (submitValid)="onSubmit()"
        (cancel)="onCancel()">
      </app-product-form>
    } @else {
      <div class="alert alert-danger">
        <h5>
          Produkt nie został znaleziony
        </h5>
      </div>
    }
  }


  @if (error) {
    <div class="mt-2 mb-2">
      <div class="alert alert-danger">
        {{ error }}
      </div>
    </div>
  }


</div>
