<ng-container *ngIf="isLoading === true; then loading else showProduct"></ng-container>

<ng-template #loading>
    <div class="mt-2 mb-2" *ngIf="error">
        <div class="alert alert-danger">
            {{ error }}
        </div>
    </div>
</ng-template>

<ng-template #showProduct>
    <ng-container *ngIf="product;then productFound else productNotFound"></ng-container>
</ng-template>

<ng-template #productFound>
    <div class="d-flex align-items-center flex-column">
        <div class="product-description">
            <div class="text-center">
                <dt>Nazwa:</dt>
                <dd>{{ product?.name }}</dd>
            </div>
            <div class="text-center">
                <dt>Opis:</dt>
                <dd class="text-break">{{ product?.description }}</dd>
            </div>
            <div class="text-center">
                <dt>Cena:</dt>
                <dd>{{ product?.price | money  }} zł</dd>
            </div>
            <div class="text-center">
                <dt>Kategoria:</dt>
                <dd>{{ product?.category?.name }}</dd>
            </div>
            <ng-container *ngIf="product?.deleted">
                <div class="text-bg-warning p-2">
                    <div>
                        Produkt jest nieużywany
                    </div>
                </div>
            </ng-container>
            <div class="d-flex ms-4">
                <a href="javascript:void(0)" class="card-link" (click)="addToCart(product!)">Dodaj do koszyka</a>
                <a *ngIf="(user$ | async)?.role === 'admin'" class="ms-2 " [routerLink]="'/products/edit/' + product?.id">
                    Edytuj produkt
                </a>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #productNotFound>
    <div class="alert alert-danger">
        <h5>
            Produkt nie został znaleziony
        </h5>
    </div>
</ng-template>
