<div class="category-form mt-2 mb-2">
    <h3>
        Edytuj produkt
    </h3>
    <div class="mt-2 mb-2" *ngIf="error$ | async">
        <div class="alert alert-danger">
            {{ error$ | async }}
        </div>
    </div>

    <ng-container *ngIf="isLoading === true; then loading else showCategory"></ng-container>

</div>

<ng-template #loading>
    <div *ngIf="error" class="mt-2 mb-2 alert alert-danger">
        {{ error }}
    </div>
</ng-template>

<ng-template #showCategory>
    <ng-container *ngIf="category;then categoryFound else categoryNotFound"></ng-container>
</ng-template>

<ng-template #categoryFound>
    <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="category-name">
                Nazwa
            </label>
            <input id="category-name" type="text" class="form-control" formControlName="categoryName" placeholder="Wpisz nazwę kategorii" />
            <ng-container *ngIf="categoryForm.dirty">
                <ng-container *ngFor="let error of categoryForm.get('categoryName')?.errors | keyvalue">
                    <ng-container *ngIf="error.value && this.categoryForm.get('categoryName')?.dirty">
                        <div class="invalid-feedback d-block text-break">
                            {{ getErrorMessage(error) }}
                        </div>
                    </ng-container>
                </ng-container>
            </ng-container>
        </div>
        <div class="mt-2">
            <button class="btn btn-success me-2">
                Zatwierdź
            </button>
            <button class="btn btn-secondary" type="button" (click)="cancelClick()">
                Anuluj
            </button>
        </div>
    </form>
</ng-template>

<ng-template #categoryNotFound>
    <div class="alert alert-danger">
        <h5>
            Kategoria nie została znaleziona
        </h5>
    </div>
</ng-template>
