<div class="category-form mt-2 mb-2">
  <h3>
    Edytuj kategorię
  </h3>
  @if (error$ | async) {
    <div class="mt-2 mb-2">
      <div class="alert alert-danger">
        {{ error$ | async }}
      </div>
    </div>
  }

  @if ((category$ | async) && (isLoading$ | async) === true) {
    @if (error) {
      <div class="mt-2 mb-2 alert alert-danger">
        {{ error }}
      </div>
    }
  } @else {
    @if ((category$ | async)) {
      <app-category-form
        [category]="(category$ | async)"
        [buttonNames]="['Zatwierdź', 'Anuluj']"
        (categoryChanged)="onCategoryChange($event)"
        (submitValid)="onSubmit()"
        (cancel)="cancelClick()">
      </app-category-form>
    } @else {
      <div class="alert alert-danger">
        <h5>
          Kategoria nie została znaleziona
        </h5>
      </div>
    }
  }

</div>




