<div class="mt-2 mb-2 carts-view">
    <h3>
        Koszyk
    </h3>
    <div>
        <ng-container *ngIf="(fetchState$ | async) === 'loading'; then loading else cartLoaded"></ng-container>
    </div>
</div>

<ng-template #loading></ng-template>

<ng-template #cartLoaded>
    <ng-container *ngIf="(cart$ | async)?.products!.length > 0; then cartWithProducts else cartWithoutProducts"></ng-container>    
</ng-template>

<ng-template #cartWithProducts>
    <table class="table table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col">
                    Id produktu
                </th>
                <th scope="col">
                    Nazwa
                </th>
                <th scope="col">
                    Koszt [PLN]
                </th>
                <th scope="col">
                    Akcja
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of (cart$ | async)?.products">
                <td>
                    {{ product.id }}
                </td>
                <td>
                    {{ product.name }}
                </td>
                <td>
                    {{ product.price }}
                </td>
                <td >
                    <button class="btn btn-primary me-2" [routerLink]="'/products/view/' + product.id">Szczegóły</button>
                    <button class="btn btn-danger" title="Usuń" (click)="deleteProduct(product)">Usuń</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <div>
            Koszt: {{ calculateTotal((cart$ | async)?.products) }} zł
        </div>
        <div>
            <button class="btn btn-success" (click)="finalizeOrder()">
                Złóż zamówienie
            </button>
        </div>
    </div>
</ng-template>

<ng-template #cartWithoutProducts>
    <div>
        <h5>
            Aktualnie nie masz żadnych przedmiotów w koszyku
        </h5>
    </div>
</ng-template>
