<button [class]="className ? className : 'btn btn-primary'" (click)="click($event)" [disabled]="disabled">
  @if (disabled) {
    @switch (version) {
      @case ('classic') {
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      }
      @case ('grow') {
        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
      }
      @default {
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      }
    }
  }
  {{ buttonText }}
</button>
