<div class="product-form mt-2 mb-2">
    <div class="mb-2">
        <h3>Nowy produkt</h3>
    </div>
    <div>
        <form [formGroup]="addProduct" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="product-name">
                    Nazwa
                </label>
                <input id="product-name" type="text" class="form-control" formControlName="productName" placeholder="Wpisz nazwę produktu" />
            </div>
            <div class="form-group">
                <label for="product-description">
                    Opis
                </label>
                <textarea id="product-description" maxlength="5000" class="form-control" formControlName="productDescription" placeholder="Podaj opis" ></textarea>
            </div>
            <div class="form-group">
                <label id="product-cost" >
                    Cena
                </label>
                <input id="product-cost"
                    (ngModelChange)="onPriceChange($event)"
                    class="form-control" 
                    formControlName="productCost" 
                    placeholder="Wpisz cenę produktu"
                    currencyFormatter [locale]="'pl-PL'" [minimumFractionDigits]="2" [maximumFractionDigits]="2" />
            </div>
            <div class="form-group">
                <label for="product-category">
                    Kategoria
                </label>
                <select id="product-category" class="form-control" formControlName="productCategory" >
                    <option value="" disabled selected>Wybierz kategorię</option>
                    <option value="1">Category#1</option>
                </select>
            </div>
            <div class="mt-2">
                <button class="btn btn-success">
                    Dodaj
                </button>
            </div>
        </form>
    </div>
</div>