<div class="imgbackground">
    <div class="login-form">
        <form>
            <div class="form-group mt-2 mb-2">
                <label for="email-input" class="text-white bg-dark label-login-form">Email</label>
                <input id="email-input" type="email" class="form-control" />
            </div>
            <div class="form-group mt-2 mb-2">
                <label for="password-input" class="text-white bg-dark label-login-form">Hasło</label>
                <input id="password-input" type="password" class="form-control" />
            </div>
        </form>
    </div>
</div>