<div>
    <div class="d-flex justify-content-center mt-2 mb-2 me-4 ms-4" style="flex-direction: column; align-items: center;">
        <div class="mb-4">
            <h1>
                Witamy w aplikacji Restaurant. Wybierz produkty aby zamówić jedzenie
            </h1>
        </div>
        <div *ngIf="error" class="mt-2 mb-2 alert alert-danger">
            {{ error }}
        </div>
        <div>
            <h3>
                Menu:
            </h3>
        </div>
    </div>
    <div *ngIf="(user$ | async)?.role === 'admin'" class="d-flex ms-4">
        <button class="btn btn-success" [routerLink]="'/products/add'">
            Dodaj produkt
        </button>
    </div>
    <div class="p-4">
        <app-search-bar [placeholder]="'Wyszukaj produktu'" [(term)]="term" (onChange)="search($event)"></app-search-bar>
    </div>
    <div class="d-flex justify-content-center ms-2">
        <div class="d-flex flex-wrap" style="align-items: stretch;">
            <div *ngFor="let product of productsToShow">
                <div class="mt-2 mb-2 me-2 ms-2">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Opis</h6>
                            <p class="card-text text-truncate d-flex text-break" style="max-width: 230px; height: 24px;">
                                    {{ product.description }}
                            </p>
                            <div class="d-flex justify-content-end">
                                <div class="bg-warning p-2">
                                    {{ product.price | money  }} zł
                                </div>
                            </div>
                            <div class="d-flex">
                                <a class="card-link me-2" [routerLink]="'/products/view/' + product.id">Szczegóły</a>
                                <a href="javascript:void(0)" class="card-link" (click)="addToCart(product)">Dodaj do koszyka</a>
                                <ng-container *ngIf="(user$ | async)?.role === 'admin'">
                                    <a [routerLink]="'/products/edit/' + product.id" class="ms-2">
                                        Edytuj produkt
                                    </a>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>