<div>
    <div class="d-flex justify-content-center mt-2 mb-2 me-4 ms-4" style="flex-direction: column; align-items: center;">
        <div class="mb-4">
            <h1>
                Witamy w aplikacji Restaurant. Wybierz produkty aby zamówić jedzenie
            </h1>
        </div>
        <div>
            <h3>
                Menu:
            </h3>
        </div>
    </div>
    <div class="d-flex justify-content-center ms-2">
        <div class="d-flex flex-wrap" style="align-items: stretch;">
            <div *ngFor="let product of showProducts() | async">
                <div class="card mt-2 mb-2 me-2 ms-2" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Opis</h6>
                        <p class="card-text text-truncate d-flex text-break" style="max-width: 230px; height: 24px;">
                                {{ product.description }}
                        </p>
                        <div class="d-flex">
                            <a href="#" class="card-link">Szczegóły</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>