<div class="mt-2 order-view">
    <div>
        <div>
            <h5>Numer zamówienia {{ order.orderNumber }}</h5>
        </div>
        <div>
            <h5>Koszt {{ order.price | money }} zł</h5>
        </div>
    </div>
    <div>
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>Id produktu</th>
                    <th>Nazwa produktu</th>
                    <th>Koszt [PLN]</th>
                    <th>Akcja</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let orderProduct of order.orderProducts">
                    <td>
                        {{ orderProduct.productId }}
                    </td>
                    <td>
                        {{ orderProduct.name }}
                    </td>
                    <td>
                        {{ orderProduct.price | money }}
                    </td>
                    <td>
                        <button class="btn btn-link" [routerLink]="'/products/view/' + orderProduct.productId">
                            Szczegóły
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>