<div class="mt-2 order-view">
    <div>
        <div>
            <h5>Numer zamówienia {{ order.orderNumber }}</h5>
        </div>
        <div>
            <h5>Koszt {{ order.price | money }} zł</h5>
        </div>
    </div>
    <div>
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>Id produktu</th>
                    <th>Nazwa produktu</th>
                    <th>Koszt [PLN]</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of order.orderProducts">
                    <td>
                        {{ order.productId }}
                    </td>
                    <td>
                        {{ order.name }}
                    </td>
                    <td>
                        {{ order.price | money }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>