<div class="mt-2 order-view">
    <ng-container *ngIf="(fetchState$ | async) === 'loading'; then loading else showOrder"></ng-container>
</div>

<ng-template #loading>
</ng-template>

<ng-template #showOrder>
    <ng-container *ngIf="(order$ | async);then orderFound else orderNotFound"></ng-container>
</ng-template>

<ng-template #loading></ng-template>

<ng-template #orderFound>
    <div>
        <div>
            <h5>Numer zamówienia {{ (order$ | async)?.orderNumber }}</h5>
        </div>
        <div>
            <h5>Koszt {{ (order$ | async)?.price | money }} zł</h5>
        </div>
    </div>
    <div>
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>Id produktu</th>
                    <th>Nazwa produktu</th>
                    <th>Koszt [PLN]</th>
                    <th>Akcja</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let orderProduct of (order$ | async)?.orderProducts">
                    <td>
                        {{ orderProduct.productId }}
                    </td>
                    <td>
                        {{ orderProduct.name }}
                    </td>
                    <td>
                        {{ orderProduct.price | money }}
                    </td>
                    <td>
                        <button class="btn btn-link" [routerLink]="'/products/view/' + orderProduct.productId">
                            Szczegóły
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-template>

<ng-template #orderNotFound>
    <div class="alert alert-danger">
        <h5>
            Zamówienie nie zostało znalezione
        </h5>
    </div>
</ng-template>