<form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="category-name">
      Nazwa
    </label>
    <input id="category-name" type="text" class="form-control" formControlName="categoryName" placeholder="Wpisz nazwę kategorii" />
    @if (categoryForm.dirty) {
      @for (error of categoryForm.get('categoryName')?.errors | keyvalue; track error) {
        @if (error.value && this.categoryForm.get('categoryName')?.dirty) {
          <div class="invalid-feedback d-block text-break">
            {{ getErrorMessage(error) }}
          </div>
        }
      }
    }
  </div>
  <div class="mt-2 mb-2">
    <button class="btn btn-success me-2">
      Zatwierdź
    </button>
    <button class="btn btn-secondary" type="button" (click)="cancelClick()">
      Anuluj
    </button>
  </div>
</form>
