<form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="category-name">
            Nazwa
        </label>
        <input id="category-name" type="text" class="form-control" formControlName="categoryName" placeholder="Wpisz nazwę kategorii" />
        <ng-container *ngIf="categoryForm.dirty">
            <ng-container *ngFor="let error of categoryForm.get('categoryName')?.errors | keyvalue">
                <ng-container *ngIf="error.value && this.categoryForm.get('categoryName')?.dirty">
                    <div class="invalid-feedback d-block text-break">
                        {{ getErrorMessage(error) }}
                    </div>
                </ng-container>
            </ng-container>
        </ng-container>
    </div>
    <div class="mt-2 mb-2">
        <button class="btn btn-success me-2">
            Zatwierdź
        </button>
        <button class="btn btn-secondary" type="button" (click)="cancelClick()">
            Anuluj
        </button>
    </div>
</form>
