<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="category-name">
      Nazwa
    </label>
    <input
      id="category-name"
      type="text"
      class="form-control"
      [class.is-invalid]="categoryNameErrors() && categoryNameDirty()"
      [value]="categoryName()"
      (input)="categoryName.set($any($event.target).value)"
      (blur)="categoryNameDirty.set(true)"
      placeholder="Wpisz nazwę kategorii"
    />
    @if (categoryNameErrors() && categoryNameDirty()) {
      @let errorKeys = getErrorKeys();
      <div class="invalid-feedback d-block text-break">
        @for (error of errorKeys; track error) {
         <div>{{ getErrorMessage({ key: error, value: categoryNameErrors()?.[error] }) }}</div>
        }
      </div>
    }
  </div>
  <div class="mt-2 mb-2">
    <button class="btn btn-success me-2">
      {{ buttonNames.SubmitButtonText }}
    </button>
    <button class="btn btn-secondary" type="button" (click)="cancelClick()">
      {{ buttonNames.CancelButtonText }}
    </button>
  </div>
</form>
