<div class="imgbackground">
</div>
<div class="register-form">
    <div>
        <h4 class="text-center">Rejestracja</h4>
    </div>
    <div class="mt-2 mb-2" *ngIf="error$ | async">
        <div class="alert alert-danger">
            {{ error$ | async }}
        </div>
    </div>
    <form [formGroup]="registerForm">
        <div class="form-group mt-2 mb-2">
            <label for="email-input" class="text-white bg-dark label-register-form">Email</label>
            <input id="email-input" type="email" class="form-control" formControlName="emailAddress" placeholder="Wpisz adres email" />
            <ng-container *ngIf="registerForm.dirty">
                <ng-container *ngFor="let error of registerForm.get('emailAddress')?.errors | keyvalue">
                    <ng-container *ngIf="error.value && this.registerForm.get('emailAddress')?.dirty">
                        <div class="invalid-feedback d-block bg-dark label-register-form text-break">
                            {{ getErrorMessage(error) }}
                        </div>
                    </ng-container>
                </ng-container>
            </ng-container>
        </div>
        <div class="form-group mt-2 mb-2">
            <label for="password-input" class="text-white bg-dark label-register-form">Hasło</label>
            <input id="password-input" type="password" class="form-control" formControlName="password" placeholder="Wpisz hasło" />
            <ng-container *ngIf="registerForm.dirty">
                <ng-container *ngFor="let error of registerForm.get('password')?.errors | keyvalue">
                    <ng-container *ngIf="error.value && this.registerForm.get('password')?.dirty">
                        <div class="invalid-feedback d-block bg-dark label-register-form text-break">
                            {{ getErrorMessage(error) }}
                        </div>
                    </ng-container>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="registerForm.errors">
                <ng-container *ngFor="let error of registerForm.errors | keyvalue">
                    <ng-container *ngIf="error.value && this.registerForm.get('confirmPassword')?.dirty">
                        <div class="invalid-feedback d-block bg-dark label-register-form text-break">
                            {{ error.value }}
                        </div>
                    </ng-container>
                </ng-container>
            </ng-container>
        </div>
        <div class="form-group mt-2 mb-2">
            <label for="confirm-password-input" class="text-white bg-dark label-register-form">Powtórz hasło</label>
            <input id="confirm-password-input" type="password" class="form-control" formControlName="confirmPassword" placeholder="Wpisz hasło" />
            <ng-container *ngIf="registerForm.dirty">
                <ng-container *ngFor="let error of registerForm.get('confirmPassword')?.errors | keyvalue">
                    <ng-container *ngIf="error.value && this.registerForm.get('confirmPassword')?.dirty">
                        <div class="invalid-feedback d-block bg-dark label-register-form text-break">
                            {{ getErrorMessage(error) }}
                        </div>
                    </ng-container>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="registerForm.errors">
                <ng-container *ngFor="let error of registerForm.errors | keyvalue">
                    <ng-container *ngIf="error.value && this.registerForm.get('confirmPassword')?.dirty">
                        <div class="invalid-feedback d-block bg-dark label-register-form text-break">
                            {{ error.value }}
                        </div>
                    </ng-container>
                </ng-container>
            </ng-container>
        </div>
        <div class="mb-2">
            <a [routerLink]="['/login']">Wróc do logowania</a>
        </div>
        <div>
            <app-spinner-button 
                [className]="'btn btn-primary me-2'" 
                [buttonText]="'Zarejestruj'" 
                [version]="spinnerVersion"
                [disabled]="(loginRequestState$ | async) === 'loading'"
                (onClick)="onSubmit(); $event.preventDefault()">
            </app-spinner-button>
        </div>
    </form>
</div>
