.register-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
}

.label-register-form {
    padding: 1px .25rem 1px 0.25rem;
    border-radius: 4px;
}
